<!DOCTYPE html>
<html>
<head>
  <title>{{ author.name }}</title>
  <link rel="stylesheet" href="../../../static/css/styles.css">  </head>
<body>
  <a href="{% url 'home' %}" class="add_new_row_btn">Go to Homepage</a>
  <div class="author-details">
    <h1>{{ author.name }}</h1>
    <p><strong>Birth Date:</strong> {{ author.date_birth }}</p>
    <p><strong>Country of Origin:</strong> {{ author.origin_country }}</p>
    <p><strong>Description:</strong> {{ author.description }}</p>
  </div>

  <div class="actions">
    <a href="{% url 'authors:author_update' author.id %}" class="edit_btn">Edit</a>
    <a href="{% url 'authors:author_delete' author.id %}" class="dlt_btn">Delete</a>
  </div>

  <a href="{% url 'authors:index' %}" class="back_to_list_btn">Back to list</a>
</body>
</html>
