<!DOCTYPE html>
<html>
<head>
    <title>Authors List</title>
</head>
{% load static %}

<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<body>
    <h1>Authors List</h1>
    <a href="{% url 'home' %}" class="add_new_row_btn">Go to Homepage</a>
    <a href="{% url 'authors:author_create' %}" class="add_new_row_btn">Add New Author</a>
    <form method="GET" action="{% url 'authors:index' %}">
        <label for="filter_country">Filter by Country:</label>
        <input type="text" id="filter_country" name="filter_country" value="{{ filter_country }}">
        <button type="submit">Filter</button>
    </form>

    <table>
        <thead>
            <tr>
                <th><a href="?sort_by=name">Name</a></th>
                <th><a href="?sort_by=number_of_books">Number of Books</a></th>
                <th><a href="?sort_by=average_score">Average Score</a></th>
                <th><a href="?sort_by=total_sales">Total Sales</a></th>
            </tr>
        </thead>
        <tbody>
            {% for author in authors %}
                <tr>
                    <td><a href="{% url 'authors:author_detail' author.id %}">{{ author.name }}</a></td>
                    <td>{{ author.number_of_books    }}</td>
                    <td>{{ author.average_score|floatformat:1 }}</td>
                    <td>{{ author.total_sales }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4">No authors found.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>