<!DOCTYPE html>
<html>
<head>
  {% load static %}

  <title>{{ book.name }}</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}"> </head>
<body>
  <a href="{% url 'home' %}" class="add_new_row_btn">Go to Homepage</a>
  <div class="author-details">
    <h1>{{ book.name }}</h1>
    <p><strong>Author:</strong> {{ book.author.name }}</p>
    <p><strong>Publication Date:</strong> {{ book.date_of_pub }}</p>
    <p><strong>Sales:</strong> {{ book.num_sales }}</p>
    <p><strong>Summary:</strong> {{ book.summary }}</p>
    {% if book.image %}
      <img src="{{ book.image.url }}" alt="https://picsum.photos/200" width="200" height="200">  
    {% endif %}
    
  </div>

  <h2>Reviews</h2>
  <ul>
      {% for review in reviews %}
          <li>
              <strong>Description: {{ review.review }}</strong> 
              <p>
              Score: {{ review.score }} 
              <em>(Votes: {{ review.num_upvotes }})</em>
              <a href="{% url 'books:review_update' book.id review.id %}" class="edit_btn">Edit</a>
              <a href="{% url 'books:review_delete' book.id review.id %}" class="dlt_btn">Delete</a>
            </p>
          </li>
      {% empty %}
          <li>No reviews yet. Be the first to <a href="{% url 'books:review_create' book.id %}">add a review</a>.</li>
      {% endfor %}
  </ul>

  <div class="actions">
    <a href="{% url 'books:review_create' book.id %}" class="edit_btn">Add a Review</a>
    <a href="{% url 'books:book_update' book.id %}" class="edit_btn">Edit</a>
    <a href="{% url 'books:book_delete' book.id %}" class="dlt_btn">Delete</a>
  </div>

  <a href="{% url 'books:book_list' %}" class="back_to_list_btn">Back to list</a>
  
</body>
</html>