<!DOCTYPE html>
<html>
<head>
    <title>Books</title>
    <link rel="stylesheet" href="../../../static/css/styles.css">
</head>
<body>

    <h1>Books</h1>

    <br />
    <!--Search Bar -->
    <form method="GET" action="{% url 'books:book_list' %}">
        <input type="text" name="search" placeholder="Search Book" value="{{ request.GET.search }}">
        <button type="submit">Search</button>
    </form>
    <a href="{% url 'home' %}" class="add_new_row_btn">Go to Homepage</a>
    <a href="{% url 'books:top_rated_books' %}" class="add_new_row_btn">View top 10 rated books</a>
    <a href="{% url 'books:top_selling_books' %}" class="add_new_row_btn">View top 50 selling books</a>
    <table>
    <thead>
        <tr>
        <th>ID</th>
        <th>Name</th>
        <th>summary</th>
        <th>date_of_pub</th>
        <th>num_sales</th>
        </tr>
    </thead>
    <tbody>
        {% if books_list %}
        {% for book in books_list %}
            <tr>
            <td>{{ book.id }}</td>
            <td><a href="{% url 'books:book_detail' book.id %}">{{ book.name }}</a></td>
            <td>{{ book.summary }}</td>
            <td>{{ book.pub_date }}</td>
            <td>{{ book.num_sales }}</td>
            </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="5">No books found.</td>
        </tr>
        {% endif %}
    </tbody>
    </table>

    <a href="{% url 'books:book_create' %}" class="add_new_row_btn">Add New Book</a>
</body> 

