localhost {
    handle /static/* {
        root * /app/static
        file_server
    }
    handle /media/* {
        root * /app/media
        file_server
    }
    handle {
        reverse_proxy web:8001
    }
    log
}