localhost {
	handle /static/* {
		root * goodreads/static/
		file_server browse
	}
	handle /media/* {
		root * media/
		file_server browse
	}
	handle {
		reverse_proxy web:8001
	}
	log {
		format json
	}
	tls internal
}
